USE [master]
GO
/****** Object:  Database [QL_CUAHANGTIENLOI]    Script Date: 5/28/2021 4:36:52 PM ******/
CREATE DATABASE [QL_CUAHANGTIENLOI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_CUAHANGTIENLOI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\QL_CUAHANGTIENLOI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_CUAHANGTIENLOI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\QL_CUAHANGTIENLOI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_CUAHANGTIENLOI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_CUAHANGTIENLOI]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[ID_HD] [int] NOT NULL,
	[ID_SP] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[ID_HD] ASC,
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETKHUYENMAI]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETKHUYENMAI](
	[ID_KM] [int] NOT NULL,
	[ID_SP] [int] NOT NULL,
	[HESOKM] [float] NULL,
	[TINHTRANG] [bit] NULL,
 CONSTRAINT [PK_CTKM] PRIMARY KEY CLUSTERED 
(
	[ID_KM] ASC,
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUDAT]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUDAT](
	[ID_PD] [int] NOT NULL,
	[ID_SP] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_CTPD] PRIMARY KEY CLUSTERED 
(
	[ID_PD] ASC,
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[ID_PN] [int] NOT NULL,
	[ID_PD] [int] NULL,
	[ID_SP] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIANHAP] [float] NULL,
	[DONGIABAN] [float] NULL,
	[HANSD] [date] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[ID_PN] ASC,
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUXUAT]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUXUAT](
	[ID_PX] [int] NOT NULL,
	[ID_SP] [int] NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CTPX] PRIMARY KEY CLUSTERED 
(
	[ID_PX] ASC,
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUCSANPHAM]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCSANPHAM](
	[ID_NCC] [int] NOT NULL,
	[ID_SP] [int] NOT NULL,
	[GiaBan] [int] NULL,
 CONSTRAINT [PK_DANHMUCSANPHAM] PRIMARY KEY CLUSTERED 
(
	[ID_NCC] ASC,
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[ID_HD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [date] NULL,
	[ID_DN] [varchar](10) NULL,
	[ID_KH] [int] NULL,
	[ID_KM] [int] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_HD] PRIMARY KEY CLUSTERED 
(
	[ID_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[ID_KH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](100) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [varchar](10) NULL,
	[DIEM] [int] NULL,
 CONSTRAINT [PK_MaKH] PRIMARY KEY CLUSTERED 
(
	[ID_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[ID_KM] [int] IDENTITY(1,1) NOT NULL,
	[TENKHUYENMAI] [nvarchar](20) NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[CHUTHICH] [nvarchar](100) NULL,
 CONSTRAINT [PK_KM] PRIMARY KEY CLUSTERED 
(
	[ID_KM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[ID_LSP] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAISANPHAM] [nvarchar](100) NULL,
 CONSTRAINT [PK_LOAISP] PRIMARY KEY CLUSTERED 
(
	[ID_LSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANHINH]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANHINH](
	[ID_MANHINH] [int] IDENTITY(1,1) NOT NULL,
	[TENMANHINH] [varchar](50) NULL,
 CONSTRAINT [PK_MANHINH] PRIMARY KEY CLUSTERED 
(
	[ID_MANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[ID_DN] [varchar](10) NOT NULL,
	[MATKHAU] [varchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[TINHTRANG] [bit] NULL,
	[HINH] [nvarchar](50) NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[ID_DN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNGNHOMNGUOIDUNG]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNGNHOMNGUOIDUNG](
	[ID_NHOM] [varchar](10) NOT NULL,
	[ID_DN] [varchar](10) NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_NNND] PRIMARY KEY CLUSTERED 
(
	[ID_NHOM] ASC,
	[ID_DN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[ID_NCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [varchar](10) NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[ID_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[ID_NHOM] [varchar](10) NOT NULL,
	[TENNHOM] [nvarchar](50) NULL,
 CONSTRAINT [PK_NND] PRIMARY KEY CLUSTERED 
(
	[ID_NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[ID_NHOM] [varchar](10) NOT NULL,
	[ID_MANHINH] [int] NOT NULL,
	[GHICHU] [varchar](20) NULL,
	[COQUYEN] [bit] NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[ID_NHOM] ASC,
	[ID_MANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDAT]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDAT](
	[ID_PD] [int] IDENTITY(1,1) NOT NULL,
	[ID_NCC] [int] NULL,
	[ID_DN] [varchar](10) NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIEN] [float] NULL,
	[TINHTRANG] [bit] NULL,
 CONSTRAINT [PK_PD] PRIMARY KEY CLUSTERED 
(
	[ID_PD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[ID_PN] [int] IDENTITY(1,1) NOT NULL,
	[ID_NCC] [int] NULL,
	[ID_DN] [varchar](10) NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_PN] PRIMARY KEY CLUSTERED 
(
	[ID_PN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[ID_PX] [int] IDENTITY(1,1) NOT NULL,
	[ID_DN] [varchar](10) NULL,
	[NGAYLAP] [date] NULL,
 CONSTRAINT [PK_PX] PRIMARY KEY CLUSTERED 
(
	[ID_PX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[ID_SP] [int] IDENTITY(1,1) NOT NULL,
	[TENSP] [nvarchar](100) NULL,
	[DVT] [nvarchar](10) NULL,
	[ID_LSP] [int] NULL,
	[SOLUONG] [int] NULL,
	[HINHANH] [nvarchar](100) NULL,
	[DONGIA] [int] NULL,
 CONSTRAINT [PK_SP] PRIMARY KEY CLUSTERED 
(
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TONKHO]    Script Date: 5/28/2021 4:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONKHO](
	[ID_SP] [int] NOT NULL,
	[NGAYTONKHO] [date] NOT NULL,
	[SOLUONG] [int] NULL,
	[TINHTRANG] [nvarchar](20) NULL,
 CONSTRAINT [PK_TONKHO] PRIMARY KEY CLUSTERED 
(
	[ID_SP] ASC,
	[NGAYTONKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETHOADON] ([ID_HD], [ID_SP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (5, 1, 1, 12000, 12000)
INSERT [dbo].[CHITIETHOADON] ([ID_HD], [ID_SP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (5, 2, 2, 12500, 12500)
INSERT [dbo].[CHITIETHOADON] ([ID_HD], [ID_SP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (6, 1, 1, 12000, 12000)
GO
INSERT [dbo].[CHITIETKHUYENMAI] ([ID_KM], [ID_SP], [HESOKM], [TINHTRANG]) VALUES (1, 1, 5, 1)
INSERT [dbo].[CHITIETKHUYENMAI] ([ID_KM], [ID_SP], [HESOKM], [TINHTRANG]) VALUES (1, 5, 10, 1)
GO
INSERT [dbo].[CHITIETPHIEUDAT] ([ID_PD], [ID_SP], [SOLUONG], [THANHTIEN]) VALUES (1, 1, 2, 20000)
INSERT [dbo].[CHITIETPHIEUDAT] ([ID_PD], [ID_SP], [SOLUONG], [THANHTIEN]) VALUES (2, 1, 10, 100000)
INSERT [dbo].[CHITIETPHIEUDAT] ([ID_PD], [ID_SP], [SOLUONG], [THANHTIEN]) VALUES (2, 6, 51, 408000)
GO
INSERT [dbo].[CHITIETPHIEUNHAP] ([ID_PN], [ID_PD], [ID_SP], [SOLUONG], [DONGIANHAP], [DONGIABAN], [HANSD], [THANHTIEN]) VALUES (1, 1, 1, 2, 10000, 12000, NULL, 20000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([ID_PN], [ID_PD], [ID_SP], [SOLUONG], [DONGIANHAP], [DONGIABAN], [HANSD], [THANHTIEN]) VALUES (2, 3, 3, 150, 8000, 11000, NULL, 1200000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([ID_PN], [ID_PD], [ID_SP], [SOLUONG], [DONGIANHAP], [DONGIABAN], [HANSD], [THANHTIEN]) VALUES (3, 3, 5, 1, 5000, 8000, NULL, 5000)
GO
INSERT [dbo].[DANHMUCSANPHAM] ([ID_NCC], [ID_SP], [GiaBan]) VALUES (1, 1, 10000)
INSERT [dbo].[DANHMUCSANPHAM] ([ID_NCC], [ID_SP], [GiaBan]) VALUES (1, 2, 10000)
INSERT [dbo].[DANHMUCSANPHAM] ([ID_NCC], [ID_SP], [GiaBan]) VALUES (1, 6, 8000)
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([ID_HD], [NGAYLAP], [ID_DN], [ID_KH], [ID_KM], [TONGTIEN]) VALUES (1, CAST(N'2021-05-19' AS Date), N'dongnguyen', NULL, NULL, 47500)
INSERT [dbo].[HOADON] ([ID_HD], [NGAYLAP], [ID_DN], [ID_KH], [ID_KM], [TONGTIEN]) VALUES (2, CAST(N'2021-05-19' AS Date), N'dongnguyen', NULL, NULL, 24500)
INSERT [dbo].[HOADON] ([ID_HD], [NGAYLAP], [ID_DN], [ID_KH], [ID_KM], [TONGTIEN]) VALUES (3, CAST(N'2021-05-19' AS Date), N'dongnguyen', NULL, NULL, 24500)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([ID_KH], [TENKH], [GIOITINH], [DIACHI], [SDT], [DIEM]) VALUES (1, N'Đô', N'Nam', N'123 Lê Trọng Tấn', N'0123456789', 22)
INSERT [dbo].[KHACHHANG] ([ID_KH], [TENKH], [GIOITINH], [DIACHI], [SDT], [DIEM]) VALUES (3, N'Nguyễn Thành Đạt', N'Nam', N'321 Lê Trọng Tấn', N'0789456123', 1)
INSERT [dbo].[KHACHHANG] ([ID_KH], [TENKH], [GIOITINH], [DIACHI], [SDT], [DIEM]) VALUES (4, N'oke', N'Nữ', N'456 okela', N'0147258369', NULL)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[KHUYENMAI] ON 

INSERT [dbo].[KHUYENMAI] ([ID_KM], [TENKHUYENMAI], [NGAYBD], [NGAYKT], [CHUTHICH]) VALUES (1, N'30/4 - 1/5', CAST(N'2021-05-15' AS Date), CAST(N'2021-06-15' AS Date), NULL)
INSERT [dbo].[KHUYENMAI] ([ID_KM], [TENKHUYENMAI], [NGAYBD], [NGAYKT], [CHUTHICH]) VALUES (2, N'Nhộn nhịp hè', CAST(N'2021-06-06' AS Date), CAST(N'2021-06-07' AS Date), NULL)
INSERT [dbo].[KHUYENMAI] ([ID_KM], [TENKHUYENMAI], [NGAYBD], [NGAYKT], [CHUTHICH]) VALUES (3, N'Vui xuân', CAST(N'2021-05-18' AS Date), CAST(N'2021-05-29' AS Date), N'')
SET IDENTITY_INSERT [dbo].[KHUYENMAI] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] ON 

INSERT [dbo].[LOAISANPHAM] ([ID_LSP], [TENLOAISANPHAM]) VALUES (1, N'Nước uống')
INSERT [dbo].[LOAISANPHAM] ([ID_LSP], [TENLOAISANPHAM]) VALUES (2, N'Mì tôm')
INSERT [dbo].[LOAISANPHAM] ([ID_LSP], [TENLOAISANPHAM]) VALUES (3, N'Đồ khô')
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] OFF
GO
INSERT [dbo].[NGUOIDUNG] ([ID_DN], [MATKHAU], [TEN], [SDT], [DIACHI], [GIOITINH], [NGAYSINH], [TINHTRANG], [HINH]) VALUES (N'dongnguyen', N'123123@', N'Đông', N'0356279580', N'Gia Lai', N'nữ', CAST(N'2000-08-10' AS Date), 1, N'dong.jpg')
GO
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([ID_NCC], [TENNCC], [DIACHI], [SDT]) VALUES (1, N'Nước giải khát Nam Việt', N'994/1C Nguyễn Thị Minh Khai, Dĩ An, Bình Dương', N'1900633874')
INSERT [dbo].[NHACUNGCAP] ([ID_NCC], [TENNCC], [DIACHI], [SDT]) VALUES (2, N'Nước giải khát Khôi Việt', N'89 D11, Tân Phú, TP HCM', N'0984052288')
INSERT [dbo].[NHACUNGCAP] ([ID_NCC], [TENNCC], [DIACHI], [SDT]) VALUES (4, N'Micoem', N'Số 8 TS15, KCN Tiên Sơn, Bắc Ninh', N'0223714146')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUDAT] ON 

INSERT [dbo].[PHIEUDAT] ([ID_PD], [ID_NCC], [ID_DN], [NGAYLAP], [TONGTIEN], [TINHTRANG]) VALUES (1, 1, N'dongnguyen', CAST(N'2021-08-05' AS Date), 20000, 1)
INSERT [dbo].[PHIEUDAT] ([ID_PD], [ID_NCC], [ID_DN], [NGAYLAP], [TONGTIEN], [TINHTRANG]) VALUES (2, 1, N'dongnguyen', CAST(N'2021-05-22' AS Date), 508000, 0)
INSERT [dbo].[PHIEUDAT] ([ID_PD], [ID_NCC], [ID_DN], [NGAYLAP], [TONGTIEN], [TINHTRANG]) VALUES (3, 4, N'dongnguyen', CAST(N'2021-05-22' AS Date), 1205000, 1)
SET IDENTITY_INSERT [dbo].[PHIEUDAT] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([ID_PN], [ID_NCC], [ID_DN], [NGAYLAP], [TONGTIEN]) VALUES (1, 1, N'dongnguyen', CAST(N'2021-05-26' AS Date), 20000)
INSERT [dbo].[PHIEUNHAP] ([ID_PN], [ID_NCC], [ID_DN], [NGAYLAP], [TONGTIEN]) VALUES (2, 4, N'dongnguyen', CAST(N'2021-05-27' AS Date), 1200000)
INSERT [dbo].[PHIEUNHAP] ([ID_PN], [ID_NCC], [ID_DN], [NGAYLAP], [TONGTIEN]) VALUES (3, 4, N'dongnguyen', CAST(N'2021-05-28' AS Date), 5000)
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([ID_SP], [TENSP], [DVT], [ID_LSP], [SOLUONG], [HINHANH], [DONGIA]) VALUES (1, N'Coca Cola', N'Lon', 1, 0, N'cocacola.jpg', 12000)
INSERT [dbo].[SANPHAM] ([ID_SP], [TENSP], [DVT], [ID_LSP], [SOLUONG], [HINHANH], [DONGIA]) VALUES (2, N'Pepsi', N'Lon', 1, 5, N'pepsi.jpg', 12500)
INSERT [dbo].[SANPHAM] ([ID_SP], [TENSP], [DVT], [ID_LSP], [SOLUONG], [HINHANH], [DONGIA]) VALUES (3, N'Hảo hảo', N'Goi', 2, 4, NULL, 11000)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([ID_HD])
REFERENCES [dbo].[HOADON] ([ID_HD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SP] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CTHD_SP]
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CTKM_KM] FOREIGN KEY([ID_KM])
REFERENCES [dbo].[KHUYENMAI] ([ID_KM])
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI] CHECK CONSTRAINT [FK_CTKM_KM]
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CTKM_SP] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI] CHECK CONSTRAINT [FK_CTKM_SP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPD_PN] FOREIGN KEY([ID_PD])
REFERENCES [dbo].[PHIEUDAT] ([ID_PD])
GO
ALTER TABLE [dbo].[CHITIETPHIEUDAT] CHECK CONSTRAINT [FK_CTPD_PN]
GO
ALTER TABLE [dbo].[CHITIETPHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPD_SP] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUDAT] CHECK CONSTRAINT [FK_CTPD_SP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PD] FOREIGN KEY([ID_PD])
REFERENCES [dbo].[PHIEUDAT] ([ID_PD])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_PD]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PN] FOREIGN KEY([ID_PN])
REFERENCES [dbo].[PHIEUNHAP] ([ID_PN])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_PN]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_PX] FOREIGN KEY([ID_PX])
REFERENCES [dbo].[PHIEUXUAT] ([ID_PX])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_CTPX_PX]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_SP] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_CTPX_SP]
GO
ALTER TABLE [dbo].[DANHMUCSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_DANHMUCSANPHAM_NHACUNGCAP] FOREIGN KEY([ID_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([ID_NCC])
GO
ALTER TABLE [dbo].[DANHMUCSANPHAM] CHECK CONSTRAINT [FK_DANHMUCSANPHAM_NHACUNGCAP]
GO
ALTER TABLE [dbo].[DANHMUCSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_DANHMUCSANPHAM_SANPHAM] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[DANHMUCSANPHAM] CHECK CONSTRAINT [FK_DANHMUCSANPHAM_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_KH] FOREIGN KEY([ID_KH])
REFERENCES [dbo].[KHACHHANG] ([ID_KH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_KH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_KM] FOREIGN KEY([ID_KM])
REFERENCES [dbo].[KHUYENMAI] ([ID_KM])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_KM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_ND] FOREIGN KEY([ID_DN])
REFERENCES [dbo].[NGUOIDUNG] ([ID_DN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_ND]
GO
ALTER TABLE [dbo].[NGUOIDUNGNHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NNND_ND] FOREIGN KEY([ID_DN])
REFERENCES [dbo].[NGUOIDUNG] ([ID_DN])
GO
ALTER TABLE [dbo].[NGUOIDUNGNHOMNGUOIDUNG] CHECK CONSTRAINT [FK_NNND_ND]
GO
ALTER TABLE [dbo].[NGUOIDUNGNHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NNND_NND] FOREIGN KEY([ID_NHOM])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([ID_NHOM])
GO
ALTER TABLE [dbo].[NGUOIDUNGNHOMNGUOIDUNG] CHECK CONSTRAINT [FK_NNND_NND]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PQ_MH] FOREIGN KEY([ID_MANHINH])
REFERENCES [dbo].[MANHINH] ([ID_MANHINH])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PQ_MH]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PQ_NNDA] FOREIGN KEY([ID_NHOM])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([ID_NHOM])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PQ_NNDA]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PD_NCC] FOREIGN KEY([ID_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([ID_NCC])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PD_NCC]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PD_ND] FOREIGN KEY([ID_DN])
REFERENCES [dbo].[NGUOIDUNG] ([ID_DN])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PD_ND]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PN_NCC] FOREIGN KEY([ID_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([ID_NCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PN_NCC]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PN_ND] FOREIGN KEY([ID_DN])
REFERENCES [dbo].[NGUOIDUNG] ([ID_DN])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PN_ND]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PX_ND] FOREIGN KEY([ID_DN])
REFERENCES [dbo].[NGUOIDUNG] ([ID_DN])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PX_ND]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_LOAI] FOREIGN KEY([ID_LSP])
REFERENCES [dbo].[LOAISANPHAM] ([ID_LSP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SP_LOAI]
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [FK_TK_SP] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [FK_TK_SP]
GO
USE [master]
GO
